*{
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  background-color: #081b31;
  color: #fff;
  height: 5 rem;
  line-height: 5 rem;
  padding: 30px;
}

.choice {
height: 165px;
width: 165px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

  .choice:hover {
    cursor: pointer;
    background-color: #081b31;
  }


img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3 rem;
  margin: 5 rem;
  padding-top: 120px;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem; 
  gap: 5rem ;
  margin-top: 5rem;
}

#user-score, #computer-score {
  font-size: 4rem;
}

.msg-container{
  margin-top: 4rem;
}


#msg {
  background-color: #081b31;
  color:white;
  height: 3rem;
  font-size: 2rem;
  display: inline-flex;
  border: #fff;
  border-radius: 1rem;
  padding: 1rem;
}

.alt {
  text-align: center;
}